---
id: "root"
---

<html>
  <head>
    <script src="src/index.js" type="module"></script>
  </head>
  <body>
    <h1>Репозиторий Chat</h1>
    <p>Ветка "main"</p>
    <p>Тест: <span id="{{ id }}"></span></p>
  </body>
</html>