---
id: "root"
---

<html>
  <head>
    <script src="js/index.js" type="module"></script>
  </head>
  <body>
    <h1>Репозиторий Chat</h1>
    <p>Ветка "deploy"</p>
    <p>Тестcvc: <span id="{{ id }}"></span></p>
  </body>
</html>